.center {
  @include flex-setting(column, flex-start, center, nowrap);

  width: 100%;
}

@media only screen and (min-width: $laptop) {
  .center {
    width: 400px;
  }
}

@media only screen and (min-width: $widebook-sm) {
  .center {
    width: 550px;
  }
}
