.choose {
  padding-top: 10px;

  @include flex-setting(column, center, center, nowrap);

  width: 100%;
}

@media only screen and (min-width: $mobile) {
  .choose {
    padding-top: 20px;
  }
}

@media only screen and (min-width: $laptop) {
  .choose {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 15px;

    &--feedback {
      justify-content: flex-end;
    }
  }
}

@media only screen and (min-width: $laptop-hd) {
  .choose {
    max-width: 1060px;

    &--feedback {
      justify-content: flex-end;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .choose {
    max-width: 1430px;
    padding-top: 50px;

    &--feedback {
      justify-content: flex-end;
    }
  }
}
