.contest-form {
  width: 280px;

  @include flex-setting(column, flex-start, center, nowrap);

  margin-bottom: 45px;

  border: 4px solid #000000;
  background-color: #ffffff;

  position: relative;

  box-shadow:0px 0px 9px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 0px 9px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 0px 9px 1px rgba(0,0,0,0.2);

  &__question {
    @include font-setting($alternate-font, 0.85em, normal, 400, $text-primary);

    text-align: center;
    margin: 0;

    padding-top: 3px;
    padding-bottom: 3px;

    border-bottom: 3px solid #000000;
    background-image: url('../img/header-pattern.png');
    background-repeat: repeat;
  }

  &__submit {
    position: absolute;
    width: 148px;
    height: 36px;

    bottom: -50px;
    left: 50%;

    transform: translateX(-50%);

    background-image: url('../img/submit-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: none;
    background-color: transparent;

    @include font-setting($alternate-font, 1em, normal, 400, $text-primary);
    @include flex-setting(column, center, center, nowrap);

    display: inline-flex;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $mobile) {
  .contest-form {
    width: 335px;

    margin-bottom: 55px;

    &__question {
      font-size: 1em;

      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__submit {
      font-size: 1.25em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .contest-form {
    width: 476px;
    border-width: 6px;
    margin-bottom: 95px;

    &__question {
      font-size: 1.375em;

      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__submit {
      font-size: 1.875em;

      width: 205px;
      height: 50px;

      bottom: -70px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .contest-form {
    width: 350px;
    border-width: 5px;
    margin-bottom: 65px;

    &__question {
      font-size: 1em;

      padding-top: 5px;
      padding-bottom: 5px;
      border-width: 3px;
    }

    &__submit {
      font-size: 1.375em;

      width: 146px;
      height: 36px;

      bottom: -60px;
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .contest-form {
    width: 496px;
    border-width: 6px;
    margin-bottom: 65px;

    &__question {
      font-size: 1.5em;

      padding-top: 5px;
      padding-bottom: 5px;
      border-width: 5px;
    }

    &__submit {
      font-size: 1.875em;

      width: 205px;
      height: 50px;

      bottom: -70px;
    }
  }
}
