.description-slider {
  width: 100%;

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 280px;
  }

  &__text {
    @include font-setting($alternate-font, 0.75em, normal, 400, $text-primary);
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $mobile) {
  .description-slider {
    &__item {
      width: 335px;
    }

    &__text {
      font-size: 1em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .description-slider {
    width: 388px;

    &__item {
      width: 388px;
    }

    &__text {
      width: 388px;
      font-size: 1.5em;
    }
  }
}
