.description-slider {
  width: 100%;

  &__item {
    width: 280px;
  }

  &__text {
    @include font-setting($alternate-font, 0.75em, normal, 400, $text-primary);
    text-align: center;
    text-transform: uppercase;
  }
}
