@font-face {
	font-family: 'Gagalin-Regular';
	src: url('../fonts/Gagalin-Regular.eot');
	src: local('☺'), url('../fonts/Gagalin-Regular.woff') format('woff'), url('../fonts/Gagalin-Regular.ttf') format('truetype'), url('../fonts/Gagalin-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Peace Sans';
	src: url('../fonts/Peace Sans.eot');
	src: local('☺'), url('../fonts/Peace Sans.woff') format('woff'), url('../fonts/Peace Sans.ttf') format('truetype'), url('../fonts/Peace Sans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
