html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: transparent;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  overflow-x: hidden;

  position: relative;

  font-family: $primary-font;
  text-transform: uppercase;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.body-contest {
  background-image: url('../img/bg-main.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.body-feedback {
  background-image: url('../img/feedback-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.body-labo {
  background-image: url('../img/labo-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}
