html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: transparent;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  overflow-x: hidden;

  position: relative;

  font-family: $primary-font;
  color: $text-primary;
  text-transform: uppercase;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.body-contest {
  background-image: url('../img/bg-lines.png'), url('../img/bg-index-lower.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom -75px center;

  .right--feedback {
    display: none;
  }

  @media only screen and (min-width: $mobile) {
    background-position: top center, bottom -105px center;
  }

  @media only screen and (min-width: $tablet) {
    background-position: top center, bottom -25px center;
  }

  @media only screen and (min-width: $laptop) {
    background-position: top center, bottom -50px center;
  }

  @media only screen and (min-width: $laptop-wide) {
    background-position: top center, bottom 0px center;
    background-size: cover, contain;
  }

  @media only screen and (min-width: $widebook-hd) {
    background-position: top center, bottom 40px center;
  }
}

.body-feedback {
  background-color: #f7c900;
  background-image: url('../img/bg-lines.png'), url('../img/bg-labo-lower.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom -75px center;

  @media only screen and (min-width: $mobile) {
    background-position: top center, bottom -105px center;
  }

  @media only screen and (min-width: $tablet) {
    background-position: top center, bottom -25px center;
  }

  @media only screen and (min-width: $laptop) {
    background-position: top center, bottom -50px center;
  }

  @media only screen and (min-width: $laptop-wide) {
    background-position: top center, bottom 0px center;
    background-size: cover, contain;
  }

  @media only screen and (min-width: $widebook-hd) {
    background-position: top center, bottom 40px center;
  }
}

.body-labo {
  background-image: url('../img/bg-lines.png'), url('../img/bg-labo-lower.png'), url('../img/bg-labo-upper.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center, top 360px center, top -50px center;
  transition: 0.2s ease-in-out;

  @media only screen and (min-width: $mobile) {
    background-position: top center, top 420px center, top -50px center;
  }

  @media only screen and (min-width: $tablet) {
    background-position: top center, top 600px center, top -50px center;
  }

  @media only screen and (min-width: $laptop) {
    background-position: top center, top 425px center, top -50px center;
  }

  @media only screen and (min-width: $laptop-hd) {
    background-position: top center, top 450px center, top -50px center;
  }

  @media only screen and (min-width: $laptop-wide) {
    background-position: top center, top 450px center, top -50px center;
    background-size: cover, contain;
  }

  @media only screen and (min-width: $widebook-sm) {
    background-position: top center, top 610px center, top -50px center;
    background-size: cover, contain;
  }

  @media only screen and (min-width: $widebook-hd) {
    background-position: top center, top 610px center, top -50px center;
  }
}

img {
  max-width: 100%;
  height: auto;
}
