.log-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include flex-setting(column, flex-start, flex-start, nowrap);

  width: 100%;

  &__item {
    @include flex-setting(column, flex-start, flex-start, nowrap);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__input {
    width: 100%;
    border: 2px solid #000000;

    padding-left: 5px;
    padding-right: 5px;

    @include font-setting($alternate-font, 1.125em, normal, 400, $text-primary);
    text-transform: uppercase;

    cursor: text;
    outline: none;
  }

  &__label {
    @include font-setting($alternate-font, 1em, normal, 400, $text-primary);
  }

  &__error {
    @include font-setting($alternate-font, 0.5em, normal, 400, $text-error);
    margin-top: 3px;
  }
}

@media only screen and (min-width: $mobile) {
  .log-list {
    &__item {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    &__input {
      font-size: 1.25em;
    }

    &__label {
      font-size: 1.125em;
    }

    &__error {
      font-size: 0.6em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .log-list {
    padding-top: 10px;

    &__item {
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    &__input {
      font-size: 1.875em;
      border-width: 4px;
    }

    &__label {
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    &__error {
      font-size: 0.875em;
    }
  }
}
