.popup-winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  &__wrapper {
    width: 300px;
    @include flex-setting(column, flex-start, center, nowrap);
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 25px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 25px 2px rgba(0,0,0,0.4);
    border: 2px solid #000000;
  }

  &__close {
    @extend .popup-login__close;
    z-index: 1003;
  }

  &__title {
    width: 100%;
    margin: 0;
    @include font-setting($alternate-font, 1.25em, normal, 400, $text-primary);
    background-image: url("../img/header-pattern.png");
    background-repeat: repeat;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @include flex-setting(column, flex-start, center, nowrap);
  }

  &__item {
    width: 100%;
    @include flex-setting(column, flex-start, center, nowrap);
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      width: 330px;
      height: 2px;
      bottom: 0;
      left: -9px;
      background: repeating-linear-gradient(90deg, black 0%, black 2%, white 2%, white 3%);
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  &__date {
    @include font-setting($alternate-font, 1.75em, normal, 400, $text-primary);
    margin-bottom: 5px;
    margin-top: 10px;
  }

  &__note {
    @include font-setting($alternate-font, 1em, normal, 400, $text-primary);
    margin-bottom: 20px;
  }

  &__name {
    @include font-setting($alternate-font, 1.75em, normal, 400, $text-primary);
    margin-bottom: 5px;
    margin-top: 10px;
  }

  &__city {
    @include font-setting($alternate-font, 0.875em, normal, 400, $text-primary);
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: $mobile) {
  .popup-winner {
    &__wrapper {
      width: 355px;
    }

    &__title {
      font-size: 1.375em;

      padding-top: 7px;
      padding-bottom: 7px;
    }

    &__item {
      &::after {
        width: 360px;
        left: -5px;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .popup-winner {
    &__wrapper {
      width: 488px;
      border-width: 6px;
    }

    &__close {
      width: 53px;
      height: 53px;

      background-size: 30px 30px;
      border-width: 4px;

      top: -55px;
      right: -55px;
    }

    &__title {
      font-size: 2.5em;

      padding-top: 10px;
      padding-bottom: 10px;

      border-width: 6px;
    }

    &__item {
      &::after {
        width: 510px;
        left: -4px;
      }
    }

    &__date {
      font-size: 3em;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    &__note {
      font-size: 1.625em;
      margin-bottom: 30px;
    }

    &__name {
      font-size: 3em;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    &__city {
      font-size: 1.375em;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .popup-winner {
    &__wrapper {
      width: 348px;
      border-width: 5px;
    }

    &__title {
      font-size: 1.75em;

      padding-top: 5px;
      padding-bottom: 5px;

      border-width: 5px;
    }

    &__close {
      width: 45px;
      height: 45px;

      background-size: 20px 20px;
      border-width: 2px;

      top: -45px;
      right: -45px;
    }

    &__item {
      &::after {
        width: 510px;
        left: -4px;
      }
    }

    &__date {
      font-size: 2.125em;
      margin-bottom: 0px;
      margin-top: 20px;
    }

    &__note {
      font-size: 1.125em;
      margin-bottom: 20px;
    }

    &__name {
      font-size: 2.125em;
      margin-bottom: 0px;
      margin-top: 20px;
    }

    &__city {
      font-size: 1.175em;
    }
  }
}
