.popup-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  &__wrapper {
    width: 300px;

    @include flex-setting(column, flex-start, center, nowrap);

    position: relative;
    background-color: #ffffff;

    box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4);
  }

  &__close {
    @extend .popup-login__close;
  }

  &__title {
    width: 100%;
    margin: 0;

    @include font-setting($alternate-font, 1.25em, normal, 400, $text-primary);

    background-image: url('../img/header-pattern.png');
    background-repeat: repeat;

    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    border-bottom: 2px solid #000000;
  }

  &__list {
    @include flex-setting(column, flex-start, center, nowrap);

    margin: 0;
    padding: 0;
    list-style: none;

    width: 100%;
  }

  &__item {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    @include flex-setting(column, flex-start, center, nowrap);

    position: relative;

    overflow: hidden;

    &::after {
      position: absolute;
      content: '';

      width: 330px;
      height: 2px;

      bottom: 0;
      left: -9px;

      background: repeating-linear-gradient(90deg, black 0%, black 4%, white 4%, white 7%);
    }

    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }

  &__nr {
    @include font-setting($alternate-font, 1.25em, normal, 400, $text-primary);
    @include flex-setting(column, center, center, nowrap);

    border-radius: 50%;
    border: 2px solid #000000;
    margin-bottom: 5px;

    min-width: 30px;
    height: 30px;

    &--1 {
      background-color: #5a9ac7;
    }

    &--2 {
      background-color: #f7c900;
    }

    &--3 {
      background-color: #e95a82;
    }
  }

  &__text {
    @include font-setting($alternate-font, 0.875em, normal, 400, $text-primary);

    width: 150px;
    text-align: center;
  }
}

@media only screen and (min-width: $hdm) {
  .popup-rules {
    &__close {
      top: -35px;
      right: -35px;
    }
  }
}

@media only screen and (min-width: $smt) {
  .popup-rules {

  }
}
