.right {
  display: none;
  /*Включается только на странице с активным блоком Feedback на мобильном*/
  &--feedback {
    @include flex-setting(column, center, center, nowrap);

    .right__information {
      @include flex-setting(column, flex-start, center, nowrap);

      text-decoration: none;
      border: 4px solid #000000;

      color: #000000;

      &:visited {
        color: #000000;
      }
    }

    .right__list {
      &--mobile {
        @include flex-setting(row, flex-start, flex-end, nowrap);
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 4px solid #000000;

        .right__item {
          @include flex-setting(column, flex-end, center, nowrap);
          width: 20%;
          height: 60px;
          padding-bottom: 5px;
          border-right: 4px solid #000000;

          &--1 {
            order: 4;
          }

          &--2 {
            order: 5;
            border-right: none;
          }

          &--3 {
            order: 1;
          }

          &--4 {
            order: 2;
          }

          &--5 {
            order: 3;
          }
        }

        .right__image {
          width: 100%;
          width: 35px;
        }
      }
    }

    .right__description {
      @include font-setting($secondary-font, 2em, normal, 400, $text-primary);
      text-align: center;

      background-color: #ffffff;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;

      &--small {
        font-size: 0.875em;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .right {
    /*Включается только на странице с активным блоком Feedback на мобильном*/
    &--feedback {
      width: 557px;
      @include flex-setting(column, center, center, nowrap);

      .right__information {
        border: 6px solid #000000;
        color: #000000;
      }

      .right__list {
        &--mobile {
          border-bottom: 6px solid #000000;

          .right__item {
            height: 134px;
            border-right: 6px solid #000000;

            &--2 {
              order: 5;
              border-right: none;
            }
          }

          .right__image {
            width: 79px;
          }
        }
      }

      .right__description {
        font-size: 3.7em;
        padding-top: 15px;
        padding-bottom: 15px;

        &--small {
          font-size: 0.875em;
        }
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .right {
    margin-top: 55px;
    width: 256px;

    @include flex-setting(column, flex-start, center, nowrap);

    &__list {
      @include flex-setting(column, center, center, nowrap);
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      border-bottom: 5px solid #000000;

      padding-top: 5px;
      padding-bottom: 5px;

      .right__image {
        width: 152px;
        max-width: 152px;
        height: auto;
      }
    }

    &__information {
      width: 100%;
      border: 5px solid #000000;
      text-align: center;
      text-decoration: none;
      color: #000000;
    }

    .right__description {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      background-color: #ffffff;
      font-size: 1.875em;
      padding-top: 0px;
      padding-bottom: 0px;

      &--small {
        font-size: 0.875em;
      }
    }
  }
}

@media only screen and (min-width: $widebook-sm) {
  .right {
    margin-top: 50px;
    width: 363px;

    &__list {
      border-width: 6px;

      padding-top: 5px;
      padding-bottom: 5px;

      .right__image {
        width: 216px;
        max-width: 216px;
      }
    }

    &__information {
      border-width: 6px;
      color: #000000;
    }

    .right__description {
      font-size: 2.5em;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
