.title-slider {
  width: 100%;
  @include flex-setting(column, center, center, nowrap);

  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;

  padding-top: 5px;
  padding-bottom: 5px;

  margin-bottom: 30px;

  &:not(.slick-initialized) {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 100%;
    text-align: center;
  }

  &__text {
    @include font-setting($primary-font, 1.25em, normal, 400, $text-primary);
  }
}

@media only screen and (min-width: $mobile) {
  .title-slider {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;

    padding-top: 7px;
    padding-bottom: 7px;

    margin-bottom: 30px;

    &__text {
      font-size: 1.375em;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .title-slider {
    width: 488px;

    border-width: 6px;

    padding-top: 7px;
    padding-bottom: 7px;

    margin-bottom: 33px;

    &__text {
      font-size: 2em;
    }
  }
}
